{% extends "layout.html" %}

{% block header %}
	{% module Header() %}
{% end %}

{% block main %}
	{% module Logo()%}
	<div id="menu-logo">
		<div class="logo-set">
			<div class="a-menu-logo">
				<a href="/pic">
					<img class="pic-logo" src="{{static_url("asserts/images/pic-logo.jpg")}}" alt="pic-logo">				
				</a>
			</div>
			<div class="a-menu-logo">
				<img class="video-logo" src="{{static_url("asserts/images/video-logo.jpg")}}" alt="video-logo">					
			</div>
		</div>
	</div>
{% end %}

{% block footer %}
	{% module Footer() %}
{% end %}