{% extends "layout.html" %}

{% block header %}
	{% module Header() %}
{% end %}

{% block main %}
	<div class="container">
		<div id="the-picture">
			<img src="http://lorempixel.com/output/city-q-c-640-480-10.jpg" alt="">
		</div>
		<div id="like">
			<span class="like-btn" databind="76">
				<p>点赞 +1</p>
			</span>
		</div>
		<ul id="detail">
			<li id="likes"></li>
			<li id="time"></li>
			<li id="next-pic"></li>
		</ul>
	</div>
{% end %}

{% block footer %}
	{% module Footer() %}
{% end %}