{% extends "layout.html" %}

{% block main %}
	<!-- {% module Logo()%} -->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for i in range(0,videos.count())%}  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{i}}">
      <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" aria-controls="collapse{{i}}">
          {{videos[i]["title"]}}
      </h4>
    </div>
    <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{i}}">
      <div class="panel-body">
      	<a href="/pic/{{videos[i]["_id"]}}">
       		<span class="glyphicon glyphicon-edit"></span>      		
      	</a>
        <span class="glyphicon glyphicon-thumbs-up red"></span>
      </div>
    </div>
  </div>
  {% end %}
</div>
{% end %}

{% block footer %}
	{% module Footer() %}
{% end %}