html,body {
	height: 100%;
	width: 100%;
}
body {
	font-family: "HelveticaNeueLT Pro 35", "Heiti SC", "Droid Sans Fallback", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
#wrapper {
	min-height:100%;
	height: auto !important;
	height: 100%; /*IE6不识别min-height*/
	position: relative;
}
header { 
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1;
}
#main {
	padding-top: 70px;
	padding-bottom: 50px;
	overflow: hidden;
	min-height: 535px;
}
#menu-logo {
	width :100%;
	height: 150px;
	margin-top: 80px;
	.logo-set {
		width: 80%;
		height: 100px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		.a-menu-logo {
			width: 50%;
			height: 100%;
			float: left;
			vertical-align: middle;
			position: relative;
			a {
				display: block;
			}
			img {
				
				position: absolute;
				left: 50%;
				top: 50%;
			}
		}
	}
	img.pic-logo {
		width: 50px;
		margin-top: -25px;
		margin-left: -25px;
	}
	img.video-logo {
		width: 52px;
		margin-top: -25px;
		margin-left: -25px;
	}
}