#header nav.navbar {
	z-index: 1;
}
#main {
	padding-bottom: 50px;
}
#menu-logo {
	width :100%;
	margin-top: 100px;
	position: absolute;
	z-index: -1;
	top: 200px;
	.logo-set {
		width: 80%;
		height: 100px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		.a-menu-logo {
			width: 50%;
			height: 100%;
			float: left;
			vertical-align: middle;
			position: relative;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
			}
		}
	}
	img.pic-logo {
		width: 50px;
		margin-top: -25px;
		margin-left: -25px;
	}
	img.video-logo {
		width: 100px;
		margin-top: -50px;
		margin-left: -50px;
	}
}