#the-picture {
	width: 90%;
	margin: 0 auto;
	img {
		width: 100%;
	}
	#video {
		#example_video_1 {
			width: 100% !important; 
		}
		video {
			width: 100%;
		}
	}
}

.click-button {
	margin: 0 auto;
	display: block;
	width: 120px;
	height: 40px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	border-radius: 40px;
	border: 1px solid #4C99C8;
	p {
		text-align: center;
		font-weight: normal;
		font-size: 14px;
		color: #4C99C8;
		margin-top: 10px;
		line-height: 1.5;
	}
}

.click-button.liked {
	background-color: #4C99C8;
	p {
		color: #fff;
	}
}

#like {
	width: 100%;
	margin-top: 30px;
}

#detail {
	list-style: none;
	overflow: hidden;
	height: 60px;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	li {
		float: left;
		width: 33%;
		height: 100%;
		vertical-align: middle;
		padding-top: 20px;
	}
	li#likes {
		width: 10%;
	}
	li#pv {
		width: 15%;
	}
	li#time {
		width: 75%;
	}
}

#comment-input {
	margin-top: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
	background: transparent;
	width: 100%;
	font-size: 18px;
	line-height: 1.05;
	font-family: inherit;
	height: 26px;
	outline: none;
	word-break: break-all;
	resize: none;
}

#comment {
	width: 100%;
	margin-top: 15px;
}

.comment-text {
	p {
		font-size: 18px;
	}
}

#comments {
	list-style: none;
	li {
		border-top: 1px solid #ccc;
		padding: 5px 5px 0 10px;
		margin-top: 3px;
	}
}