#the-picture {
	width: 80%;
	margin: 0 auto;
	img {
		width: 100%;
	}
}

#like {
	width: 100%;
	margin-top: 30px;
	.like-btn {
		margin: 0 auto;
		display: block;
		width: 120px;
		height: 40px;
		cursor: pointer;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		-ms-border-radius: 40px;
		-o-border-radius: 40px;
		border-radius: 40px;
		border: 1px solid #4C99C8;
		p {
			text-align: center;
			font-weight: normal;
			font-size: 14px;
			color: #4C99C8;
			margin-top: 10px;
			line-height: 1.5;
		}
	}
}
