#accordion {
	margin-top: 30px;
}
.panel-group .panel-heading {
	.data-likes {
		float: right;
		margin-right: 20px;
	}
}
.panel-group .panel-body {
	padding: 8px;
	overflow: hidden;
	.operate-button {
		width: 50%;
		float: left;
		text-align: center;
	}
}

h4 a {
	display: inline-block;
	width: 100%;
	line-height: 100%;
}
h4 a:hover {
	text-decoration: none;
}